@use '../abstracts/variables' as v;

.page-footer {
  .footer-title {
    font-weight: 700;
  }
  .flex {
    flex-direction: column;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    margin: 0;
  }
}

.socialnav {
  a {
    margin: 0 10px;
    text-decoration: none;
  }
  i:hover,
  i:focus {
    transform: scale(1.2);
  }
  p {
    margin: 1rem 0 0.5rem 0;
  }
}
