@use '../abstracts/variables' as v;

.page-header {
  img {
    display: block;
    width: 300px;
  }
}

.main-navigation {
  .navigation-list {
    display: flex;
    list-style-type: none;
  }
  .navigation-list__item {
    display: block;
    padding: 5px;
    margin: 5px;
    &:hover,
    &:focus {
      color: v.$green;
      border-bottom: 2px solid v.$green;
    }
    &--active {
      color: v.$green;
      border-bottom: 2px solid v.$green;
    }
  }
}
